ChillExe/Localization/Xml/translations.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Translations">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Translation" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Id" type="xs:string" minOccurs="1" maxOccurs="1"/>
							<xs:element name="Value" type="xs:string" minOccurs="1" maxOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
